<div class="row container mt-4">
  <div class="col-3">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col">
    <!-- Renderice ese segmento de acuerdo al componente de una ruta -->
    <router-outlet></router-outlet>
  </div>
</div>
