<h3>Agregar {{nuevo.nombre}}</h3>
<hr>
<form (ngSubmit)="agregar()">
    <!-- <input type="text" placeholder="Nombre" [value]="nuevo.nombre" > -->
    <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nuevo.nombre" >
    <input type="number" placeholder="Poder" name="poder" [(ngModel)]="nuevo.poder">
    <button type="submit" >Agregar</button>
</form>
