<div class="animate__animated animate__fadeIn animate__faster">
  <h1>Por Pais</h1>
  <hr />

  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        placeholder="Buscar capital"
      ></app-pais-input>
    </div>
  </div>
</div>

<hr />

<div *ngIf="hayError" class="alert alert-danger">
  No se encontro nada con el termino {{ termino }}
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
