<p>Listado de Heroes</p>

<div *ngIf=" heroeBorrado ; else noborrado">
    <h3>Hereo Borrado</h3>
    <h3><small>{{ heroeBorrado }}</small></h3>
</div>

<ng-template #noborrado>
    <h3>No ha borrado Borrado</h3>
</ng-template>



<button (click)="borrarHeroe()">Borrar</button>

<ul>
    <li *ngFor="let item of heroes; let i = index">{{i + 1}} - {{item}} </li>
</ul>

